@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #35d0f2;
  --secondary: #f2e744;
  --black: #0d0d0d;
  --light: #f2f2f2;
  --bg: #f2c53d;
  --font: "MuseoModerno", cursive;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  font-family: var(--font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
